.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  font-size: 2rem;
  font-weight: bold;
}

.copyright {
  font-size: 0.7rem;
  color: #acb2bf;
}